<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>jfinal</filter-name>
    <filter-class>com.jfinal.core.JFinalFilter</filter-class>
    <init-param>
      <param-name>configClass</param-name>
      <param-value>com.tzsw.bj.config.WebAppConfig</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>jfinal</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>jfinal</filter-name>
    <url-pattern>/upload/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ImageProxyServlet</servlet-name>
    <servlet-class>com.zjtzsw.embed.ImageProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageProxyServlet</servlet-name>
    <url-pattern>/image-proxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>com.zjtzsw.embed.ProxyServlet</servlet-class>
    <init-param>
      <param-name>SERVER_URL</param-name>
      <param-value>http://172.16.76.164:8888</param-value>
    </init-param>
    <init-param>
      <param-name>BOOK_NAME</param-name>
      <param-value>HZYTH</param-value>
    </init-param>
    <init-param>
      <param-name>SERVER_CONTEXT</param-name>
      <param-value>/lemis</param-value>
    </init-param>
    <init-param>
      <param-name>APP_KEY</param-name>
      <param-value>36864ffe-c82b-4394-8d72-b6eb313a7ecc</param-value>
    </init-param>
    <init-param>
      <param-name>VALIDATE_PATH</param-name>
      <param-value>com.tzsw.bj.common.controller.IndexController.initValidator</param-value>
    </init-param>
    <init-param>
      <param-name>IMAGE_PROXY_NAME</param-name>
      <param-value>image-proxy</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/filext-api</url-pattern>
  </servlet-mapping>
</web-app>