<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子影像Demo</title>
</head>
<body style="background-color: #ededed">
	<div style="margin: 0 auto; text-align:center; width: 850px">
		<h3>电子影像Demo</h3>
		<div id="dzdaframe" style="height:350px; border:1px solid #ccc"></div>
		<div style="border:1px solid #ccc">
			<p>后台调用样例</p>
			<form id="uploadForm" enctype="multipart/form-data" style="display:inline-block">
		    	<input id="file" type="file" name="file" />
		    </form>
		    <button id="upload">上传文件</button>
		    <button id="download">下载文件</button>
		</div>
		<button id="initFileUnit">影像初始化</button>
		<button id="testBack">JAVA调用测试</button>
	</div>
	<script type="text/javascript" src="#(CONTEXT_PATH)/filext-embed/shelf/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="#(CONTEXT_PATH)/filext-embed/icv2.js?v2.3"></script>
	<script type="text/jscript">
		// 影像对接
		// 公司
	    //var bizCode = '9a7392d8';
		//var bizCode = '81053e49,9a7392d8,e25ac245'; // 事项编码
	    // 杭州
	    //var bizCode = '10-01002-000,06-00145-012'; // 服务目录
/* 	    var bizCode = '728c255ad35342bdbe46af32529ac236';
	    var params = {
	        subjectType: "1", // 主体类型 01：个人 02：单位 03：机构 04：其他
	        subjectKey: "342626199009023311", // 主体编码
	        subjectName: "赵斌", // 主体名称
	        //isfw:true, // 是否为服务目录
	        isWb:"1", // 是否为服务目录
	    	initData: {userId: "123", username: "zdd"} // 内部校验传参
	    };
	    var bizId= "f7a0783a35424da78a6a13bbb8c96fac"; // 业务主键，登记页面不需要业务主键，传空 */
	    
 	    //var bizCode = '166dfe29-ebcb-4329-9e72-8544d61cf68d';
	    
 	    //var bizCode = '6e6390445bb242cc8b0c9672ecb00c0e';//政务网内码
 	    var bizCode = '6767195b73f0402e908e6002b3226469';//事项编码
	    var params = {
	        subjectType: "01", // 主体类型 01：个人 02：单位 03：机构 04：其他
	        subjectKey: "140424199405203215", // 主体编码
	        subjectName: "主体李", // 主体名称
	        //isfw:true, // 是否为服务目录
	        //iswb:"1", // 网报不维护
	    	initData: {userId: "123", username: "zdd"} // 内部校验传参
	    };
	    
	    var bizId= "A3"; // 业务主键，登记页面不需要业务主键，传空 
	    var fuid = ""; // 影像ID 就是 uuid档案件唯一标识，登记页面不需要业务主键，传空  
	    var div = 'dzdaframe';
	    var dealerId = null; // 经办人内码，验证经办人是否具有初始化权限
	    //var bname = "SXRSKS"; // 帐套名称(公司)
	    var bname = "HZYTH"; // 帐套名称(杭州)
        	icv.setupConfig({
	        appcontext : '#(CONTEXT_PATH)',// 业务系统上下文地址
	        bname: bname,
	        privilege : {
	            // disablePrint : true,
	            // disableDownload : true,
	            // disableOperate : true
	        }
	    }).render(div, bizCode, bizId, fuid, dealerId, params); 
    	
		// 影像后台调用样例
		$("#upload").click(function () {
            var formData = new FormData($('#uploadForm')[0]);
            $.ajax({
                type: "post",
                url: "/lemis/upload/upload",
                data: formData,
                contentType: false,
                processData: false,
                success: function(result){
                	alert("上传成功");
                	window.location.reload();
                },
                error: function() {
                	alert("上传失败");
                }
            });
        }); 
		
		$("#download").click(function () {
			$.ajax({
                type: "post",
                url: "/lemis/upload/download",
                //data: {bizId: "PK", materialCode: "f9faa69a-01-KDQKDJB"},
                data: {subjectType: "01", subjectKey: "330226199012143677", materialCode: "f9faa69a-01-KDQKDJB"},
                success: function(result){
                	console.log(result);
                	alert(JSON.stringify(result.data));
                },
                error: function() {
                	alert("上传失败");
                }
            });
		});
		
		$("#initFileUnit").click(function () {
			$.ajax({
                type: "post",
                url: "/lemis/upload/initFileUnit",
                data: {},
                success: function(result){
                	console.log(result);
                	alert(JSON.stringify(result.data));
                },
                error: function() {
                	alert("调用方法失败");
                }
            });
		});
		
		$("#testBack").click(function () {
			$.ajax({
                type: "post",
                url: "/lemis/upload/test",
                data: {},
                success: function(result){
                	console.log(result);
                	alert(JSON.stringify(result.data));
                },
                error: function() {
                	alert("调用方法失败");
                }
            });
		});
	</script>
</body>
</html>
